
{{#partial "content"}}
    <div class="container-fluid">
        <div class="container content">
            <h2>All Sightings</h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Animal ID</th>
                    <th scope="col">Animal Name</th>
                    <th scope="col">Location Spotted</th>
                    <th scope="col">Spotted By</th>
                    <th scope="col">Animal Type</th>
                    <th scope="col">Time Spotted</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>2</td>
                    <td>Crocodile</td>
                    <td>Zone A</td>
                    <td>Wepukullo</td>
                    <td>non-endangered</td>
                    <td>2020-09-21 18:40:43.612017</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Koala</td>
                    <td>Zone B</td>
                    <td>Mitchelle</td>
                    <td>endangered</td>
                    <td>2020-09-21 18:40:28.021895</td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td> {{ animal_id }}</td>
                    <td>{{ name }}</td>
                    <td>{{location}}</td>
                    <td>{{ranger_name}}</td>
                    <td>{{animal_type}}</td>
                    <td>{{sightings}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

{{/partial}}

{{>layout.hbs}}

